rules:
  - Temirkhan\PhpstanInternalRule\InternalClassInstantiationRule
  - Temirkhan\PhpstanInternalRule\InternalClassInPropertyDeclarationRule
  - Temirkhan\PhpstanInternalRule\InternalTraitInAnotherTraitUsageRule
  - Temirkhan\PhpstanInternalRule\InternalTraitUsageRule
  - Temirkhan\PhpstanInternalRule\InternalFunctionCallRule
